<h1><%= I18n.t 'welcome' %></h1>

<%= render "form" %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= I18n.t 'pet.name' %></th>
      <th scope="col"><%= I18n.t 'pet.birthday' %></th>
      <th scope="col"><%= I18n.t 'pet.breed' %></th>
      <th scope="col"><%= I18n.t 'pet.category' %></th>
      <th scope="col"><%= I18n.t 'action' %></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |item| %>
      <tr>
        <th><%= item.id %></th>
        <th><%= item.name %></th>
        <th><%= item.birthday.strftime("%d/%m/%Y") %></th>
        <th><%= item.breed %></th>
        <th><%= item.category %></th>
        <th><%= link_to I18n.t('see_more'), pet_medicals_path(pet_id: item.id) %></th>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @pets %>
